apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: kinatrax-dev

namePrefix: dev-

commonLabels:
  environment: development

bases:
  - ../../base

patchesStrategicMerge:
  - replica-patch.yaml
  - resource-patch.yaml

configMapGenerator:
  - name: env-config
    literals:
      - ENVIRONMENT=development
      - LOG_LEVEL=debug
